.navbar {
  background-color: rgb(37, 162, 194);
  border-radius: 30px;
  font-weight: bold;
}

.navbar ul {
  overflow: auto; /*the background gets removed as it has been overflown by the parent element. To avoid this*/
}

.navbar li {
  float: left;
  list-style: none; /* Used to remove bullet points in list*/
  margin: 12px 8px;
}

.navbar li a {
  padding: 3px 3px;
  text-decoration: none;
  color: black;
  border: 2px solid rgb(47, 0, 255);
  border-radius: 22px;
}

.navbar li a:hover {
  color: red;
  background-color: white;
}

.searchbox {
  float: right;
  color: white;
  padding: 12px 75px;
}

.navbar input {
  border: 2px solid black;
  border-radius: 3px;
  padding: 2px 17px;
  width: 119px;
}

/* Vertical Navbar  */
main ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 100%;
  background-color: rgb(236, 233, 233);
  text-align: center;
  position: fixed;
  overflow: auto; /*This will add scroll if elements number is very high*/
}

main li {
  display: block;
  color: #000;
}
main ul a {
  display: block;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  /* border: 1px solid black; */
}

main ul li a:hover {
  background-color: rgb(106, 106, 106);
  color: white;
}

main li a.active {
  background-color: green;
  color: white;
}

main li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
