.container{
    display: grid;
    grid-gap: 1rem;
    /* grid-template-columns: 112px 112px 112px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* justify-content: center; */

    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));

    /* Note:-The benefit of auto-fit is that it will repeat the number of times it is necessary. The minmax will decide the minimum width given to any rows. */
}
.box{
    border: 2px solid black;
    background-color: rgb(205, 243, 129);
    padding: 30px;
}